In [98]:
import numpy as np
import pandas as pd
import warnings

In [99]:
warnings.filterwarnings('ignore')

In [100]:
columns_name=['user_id','item_id','Rating','timeStamp']
df=pd.read_csv('u.data',sep="\t",names=columns_name)

In [101]:
movies_title=pd.read_csv('C:\\Users\\AAA\\ML code\\u.item',sep="\|",header=None,encoding="ISO-8859-1")
moviesTitle=movies_title[[0,1]]
moviesTitle.columns=["item_id","Movie_Title"]

In [102]:
df=pd.merge(df,moviesTitle,on="item_id")

In [103]:
ratings=pd.DataFrame(df.groupby('Movie_Title').mean()['Rating'])
ratings['num of ratings']=pd.DataFrame(df.groupby('Movie_Title').count()['Rating'])

In [104]:
moviemat=df.pivot_table(index="user_id",columns="Movie_Title",values="Rating")

In [105]:
def predict_movies(movie_name):
    movie_user_ratings=moviemat[movie_name]
    similar_to_movie=moviemat.corrwith(movie_user_ratings)
    corr_movie=pd.DataFrame(similar_to_movie,columns=['correlation'])
    corr_movie.dropna(inplace=True)
    corr_movie=corr_movie.join(ratings['num of ratings'])
    predictions=corr_movie[corr_movie['num of ratings']>100].sort_values('correlation',ascending=False)
    
    return predictions

In [108]:
predictMyMovie=predict_movies("Abyss, The (1989)")

In [109]:
predictMyMovie.head()

                                               correlation  num of ratings
Movie_Title
Abyss, The (1989)                                 1.000000             151
William Shakespeare's Romeo and Juliet (1996)     0.609130             106
Ghost (1990)                                      0.578579             170
Singin' in the Rain (1952)                        0.558353             137
Amistad (1997)                                    0.517769             124